<%- include("templates/header")  %>

    <form action="/libros/login_usuario" method="post">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="password" name="pwd">
        <button type="sumbit">Login</button>
    </form>
    

<%- include("templates/footer")  %>
