<%- include("templates/header")  %>

    <form action="/" method="post">
        <input type="email" placeholder="email" name="email">
        <input type="text" placeholder="nombre" name="nombre">
        <input type="password" placeholder="password" name="pwd">
        <button type="sumbit">Register</button>
    </form>
    

<%- include("templates/footer")  %>
