<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <form action="/libros/logout" method="post"><button type="sumbit">login</button></form>
        <form action="/libros/registro" method="post"><button type="sumbit">register</button></form>
    </nav>
    <% //if() %>
    
